.about {
    width: 450px;
    max-width: 450px;  
    font-size: calc(10px + 2vmin);
    color: #000;
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    justify-content: flex-start; 
    padding-bottom: 10px;
    row-gap: 15px;
  }  

/* .about__logo {
  width: 250px;
  align-self: flex-end;
} */

.about__title {
    font-family: "Montserrat Bold", Arial, sans-serif;
    width: 450px;
    max-width: 450px;
    font-size: 14px;
    line-height: 1.2;    
    margin: auto;
    text-align: center;
    padding: 0;
    color: #828282;
    list-style: none;
  }
  .about__text {
    font-family: "Montserrat Regular", Arial, sans-serif;
      width: 100%;
      font-size: 12px;
      line-height: 1.4;
      text-align: left;
      color: #000;
      margin: 0;      
      padding: 5px 0 0;
      padding-left: 15px;
  }
  
@media screen and (max-width: 767px) {
  .about {
    width: 320px;
    max-width: 320px;
  }

  .about__title {
    width: 310px;
    font-size: 13px;
  }

  .about__text {
    width: 310px;
    font-size: 11px;
  }
}  