.footer {
  width: 95%;
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 30px;
  padding: 0;
  margin: 0;
  /* margin-left: 40px;   */
  /* margin-right: 40px;   */
  border-top: 2px solid #c5c5c5;
  padding-top: 25px;
}

.footer__logo {
  height: 7vmin;
  pointer-events: none;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .footer {
    padding-top: 15px;
  }

  .footer-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.footer_title {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  color: gray;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.footer__item-container {
  width: 100%;
}

.footer__link {
  /* margin-top: 50px; */
  /* max-width: 500px; */
  /* min-height: 50px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  color: #4d4d4d;
  gap: 20px;
  /* text-decoration: none; */
  font-family: 'Montserrat Regular', Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.footer__link:hover {
  opacity: 0.6;
  color: #f60;
  transition: opacity 1s linear;
}

.footer__copyright {
  font-family: 'Montserrat Regular', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: .05em;
  margin: 0;
  padding: 0; 
  margin-top: 10px;   
}

.footer__logos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: center;
  column-gap: 20px; 
}

.footer__logos_dev {
  align-items: flex-end;
}

.footer__logos_ocenshiki {  
  height: 80px;
}

.footer__logos_rieltors {  
  width: 140px;
}

.footer__logos_sud {
  width: 80px;
  height: auto;
}

.footer__logos-box {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__logos-text {
  width: 115px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.2;
}


@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 11px;
  }

  .footer__logos {
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  .footer__logos_dev {
    justify-content: space-between;
    align-items: flex-end;
  }
}